{% extends "loginsuccess_temp.html" %}
{% block content %}
<div class="content-wrapper">
            <p class="huge-title">CSCB20\\Winter_2022\\Announcements<span class = "underline-animation">_</span></p>
            <div class="linebr"></div>
            <div class="space-br"></div>

            <p class = "big-title">\\Calendar</p>
            <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FToronto&hl=en&src=MjNqbGRyc2FpNTVsNjdpMDNvMXUyNXVkbWdAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&color=%238E24AA" frameborder="0" scrolling="no"></iframe>

            <p class="big-title">\\Jan 2</p>
            <p>Welcome to CSCB20! Please note that tutorials will begin in week 2.</p>
            <p class="big-title">\\Feb 3</p>
            <p>Assignement 1 is due in 1 week. Start working early, as this is a big one!</p>
            <p class="big-title">\\Mar 8</p>
            <p>My office hours will be cancelled today and I will be having them on the 10th March instead at IC404.</p>
            <p>-Purva</p>
        </div>
{% endblock %}
        
