html{
	scroll-behavior: smooth;
}

body{
	background-color: #f7eccd;
	margin: 0px;
	color: #2e2817;
}	


#navbar{
	display: flex;
	background-color: #2e2817;
	font-size: 20px;
	height: auto;
	width:  100%;
	position: fixed;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.navbutton:hover{
	text-decoration-color: rgba(247, 236, 205 ,1);
	color:#f7eccd;

}

.navbutton{
	width: auto;
	height: auto;
	padding: 20px 15px 20px 15px;
	margin: 0;
	color: #fffcf2;
	text-decoration: underline;
	text-decoration-color: rgba(255,252,242,0);
	text-align: center;
	transition: all 0.2s;

}

.content-wrapper{
	width: 80%;
	display: block;
	padding-top: 80px;
	margin: auto;
	min-height: 100%;
}

.huge-title{
	font-size: 50px;
	margin-top: 60px;
	margin-bottom: 0px;
}

.sub-title{
	font-size: 20px;
	margin: 0px;
}

.big-title{
	font-size: 40px;
	margin-top: 60px;
	margin-bottom: 15px;
}

.linebr{
	border-bottom: 2px solid #2e2817;
	width: 100%;
	margin-top: 20px;
}

@keyframes underline-animation{
	24% {
		color: #2e2817;
	}	
	25% {
		color: #f7eccd; 
		}
	74%{
		color: #f7eccd;
	}	
	75% {
		color: #2e2817;
		}
}

.underline-animation{
	animation-name: underline-animation;
	animation-duration: 1.5s;
	animation-iteration-count: infinite;
}