html{
    scroll-behavior: smooth;
}

body{
	background-color: #f7eccd;
	margin: 0px;
	color: #2e2817;
	font-size: 18px;
}

.content-wrapper{
	width: 80%;
	display: block;
	padding-top: 80px;
	margin: auto;
	min-height: 100vh;
	padding-bottom: 80px;
}

.date-title{
    border-bottom: 1px solid black;
}