{% extends "loginsuccess_temp.html" %}
{% block content %}
    <div class = "content-wrapper">
		<p class="huge-title">CSCB20\\Winter_2022\\Feedback<span class = "underline-animation">_</span></p>
		<!--<p class="sub-title">Winter 2022</p> !-->
		<div class="linebr"></div>
        <div class ="space-br"></div>
        <p>We're always looking to improve the course, and that's only possible with your feedback!</p>

        <textarea class = "feedback-textarea" placeholder="What do you like about the instructor teaching?"></textarea>
        <button class = "general-button feedback-submit">Submit</button>
        <textarea class = "feedback-textarea" placeholder="What do you recommend the instructor to do to improve their teaching?"></textarea>
        <button class = "general-button feedback-submit">Submit</button>
        <textarea class = "feedback-textarea" placeholder="What do you like about the labs?"></textarea>
        <button class = "general-button feedback-submit">Submit</button>
        <textarea class = "feedback-textarea" placeholder="What do you recommend the lab instructors to do to improve their lab teaching?"></textarea>
        <button class = "general-button feedback-submit">Submit</button>
        
    </div>
	{% endblock %}