{% extends "loginsuccess_temp.html" %}
{% block content %}
    <div class = "content-wrapper">
		<p class="huge-title">CSCB20\\Winter_2022\\Feedback<span class = "underline-animation">_</span></p>
		<!--<p class="sub-title">Winter 2022</p> !-->
		<div class="linebr"></div>
        <div class ="space-br"></div>
        
        {% if session.type == "student" %}
        <p>We're always looking to improve the course, and that's only possible with your anonymous feedback!</p>
        <p>Please note that feedback will not be sent if any of the fields are empty.</p>

        

        <form action="feedback" method="post">
            <p>Choose an instructor you want to send your feedback to:</p>
            <select name="instructor" id="instructor">
            {% for User in query_instructors_result %}
                <option value="{{User[1].utorid}}">{{User[1].utorid}}</option>
            {% endfor %}
            </select>
            <textarea class= "feedback-textarea" type="text" name="q1" placeholder="What do you like about the instructor teaching?" required=></textarea>
            <textarea class= "feedback-textarea" type="text" name="q2" placeholder="What do you recommend the instructor to do to improve their teaching?" required></textarea>
            <textarea class= "feedback-textarea" type="text" name="q3" placeholder="What do you like about the labs?" required></textarea>
            <textarea class= "feedback-textarea" type="text" name="q4" placeholder="What do you recommend the lab instructors to do to improve their lab teaching?" required></textarea>
            <input class= "general-button feedback-submit" type="submit" value ="Submit">
        </form>
        <div class="space-br"></div>
        {% endif %}

        {% if session.type == "instructor" %}
        <p>Here you can see the feedback you received from CSCB20 students, specific to you:</p>

            <div id="table">
                
                <div id="table-header">
                    <div class="table-header-cell">Date</div>
                    <div class="table-header-cell">What do you like about the instructor teaching?</div>
                    <div class="table-header-cell">What do you recommend the instructor to do to improve their teaching?</div>
                    <div class="table-header-cell">What do you like about the labs?</div>
                    <div class="table-header-cell">What do you recommend the lab instructors to do to improve their lab teaching?</div>

                </div>

                {% for query in query_feedback_result %}
                <div id="table-body">

                    <div class="table-row">
                        <div class="table-body-cell">{{query.date_sent}}</div>
                        <div class="table-body-cell">{{query.q1}}</div>
                        <div class="table-body-cell">{{query.q2}}</div>
                        <div class="table-body-cell">{{query.q3}}</div>
                        <div class="table-body-cell">{{query.q4}}</div>
                    </div>

                </div>
                {% endfor %}

                
                
            </div>
        {% endif%}
        
    </div>
{% endblock %}