<!-- <!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>CSCB20</title>

	<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
	<nav id = "navbar">

		<input type = "checkbox" id = "mobile-nav-toggle"/>

		<div id = "mobile-nav">
			<a class = "navbutton mobile-nav-home" href=" {{ url_for('home') }}">CSCB20</a>
			<label for = "mobile-nav-toggle">
				<span></span>
			</label>
		</div>
	</nav>	 -->

{% extends "template.html" %}

{% block content %}

	<div class = "content-wrapper">
		<p class="huge-title">CSCB20\\Log_In<span class = "underline-animation">_</span></p>
		<div class="linebr"></div>
		<div class="login">
			<form action="login" method = "post">
			<label for="chk" aria-hidden="true"></label>
			<input type="utorid" name="utorid" placeholder="Utorid" required="">
			<input type="password" name="pswd" placeholder="Password" required="">
			<button class = "general-button">Log in</button>
			
			{% with messages = get_flashed_messages(with_categories = True) %}
			{% if messages %}
				{% for category, message in messages %}
					<div class = "error-div">{{ category }} - {{ message }}</div>
				{% endfor %}
			{% endif %}
			{% endwith %}
				
			</form>
		</div>
	</div>
{% endblock %}

<!-- </body>
</html> -->