{% extends "loginsuccess_temp.html" %}
{% block content %}
    <div class = "content-wrapper">
        <p class="huge-title">CSCB20\\Winter_2022\\Marks<span class = "underline-animation">_</span></p>
        <div class="linebr"></div>
        <div class="space-br"></div>
        
        {% if session.type == "student" %}
        
        <div id="table">
            
            <div id="table-header">
                <div class="table-header-cell">Course Component</div>
                <div class="table-header-cell">Mark</div>
                <div class="table-header-cell">Request a remark</div>
                <!-- <div class="table-header-cell">In Class</div> -->
                <div class="table-header-cell">Explanation</div>
                <!-- <div class="table-header-cell">Tutorial Solutions</div> -->
            </div>
            <div id="table-body">

                <div class="table-row">
                    <div class="table-body-cell">Assignment 1</div>
                    <div class="table-body-cell">Int</div>
                    <div class="table-body-cell">
                        <a href="{{ url_for('remark') }}">Submit remark request</a>
                    </div>
                    <div class="table-body-cell">
                        <textarea id = "explanation-textarea" placeholder="Please provide explanation"></textarea>
                        <button class = "expl-button" id = "feedback-submit">Submit</button>
                    </div>
                </div>
                <div class="table-row">
                    <div class="table-body-cell">Assignment 2</div>
                    <div class="table-body-cell">Rel</div>
                    <div class="table-body-cell">
                        <a href="{{ url_for('remark') }}">Submit remark request</a>
                    </div>
                    <div class="table-body-cell">
                        <textarea id = "explanation-textarea" placeholder="Please provide explanation"></textarea>
                        <button class = "expl-button" id = "feedback-submit">Submit</button>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-body-cell">Assignment 3</div>
                    <div class="table-body-cell">Re</div>
                    <div class="table-body-cell">
                        <a href="{{ url_for('remark') }}">Submit remark request</a>
                    </div>
                    <div class="table-body-cell">
                        <textarea id = "explanation-textarea" placeholder="Please provide explanation"></textarea>
                        <button class = "expl-button" id = "feedback-submit">Submit</button>
                    </div>
                </div>

                <div class="table-row">
                    <div class="table-body-cell">Midterm exam</div>
                    <div class="table-body-cell">SQL</div>
                    <div class="table-body-cell">
                        <a href="{{ url_for('remark') }}">Submit remark request</a>
                    </div>
                    <div class="table-body-cell">
                        <textarea id = "explanation-textarea" placeholder="Please provide explanation"></textarea>
                        <button class = "expl-button" id = "feedback-submit">Submit</button>
                    </div>
                </div>


                <div class="table-row">
                    <div class="table-body-cell">Final Exam</div>
                    <div class="table-body-cell">MySQ</div>
                    <div class="table-body-cell">
                        <a href="{{ url_for('remark') }}">Submit remark request</a>
                    </div>
                    <div class="table-body-cell">
                        <textarea id = "explanation-textarea" placeholder="Please provide explanation"></textarea>
                        <button class = "expl-button" id = "feedback-submit">Submit</button>
                    </div>
                </div>
                
                
                <div class="table-row">
                    <div class="table-body-cell">Tutorial Attendance</div>
                    <div class="table-body-cell">MySQ</div>
                    <div class="table-body-cell">
                        <a href="{{ url_for('remark') }}">Submit remark request</a>
                    </div>
                    <div class="table-body-cell">
                        <textarea id = "explanation-textarea" placeholder="Please provide explanation"></textarea>
                        <button class = "expl-button" id = "feedback-submit">Submit</button>
                    </div>
                </div>
                
            </div>
            {% endif %}

            {% if session.type == "instructor" %}

            <p>Nothing here for instructors yet! Whoops!</p>

            {% endif %}
        </div>
    </div>
    
{% endblock %}
