{% extends "loginsuccess_temp.html" %}
{% block content %}
    <div class = "content-wrapper">
        <p class="huge-title">CSCB20\\Winter_2022\\Marks<span class = "underline-animation">_</span></p>
        <div class="linebr"></div>
        <div class="space-br"></div>
        
        {% if session.type == "student" %}
        <p class="big-title">Hi, {{ session.name }}, here are your marks</p>
        <div class="space-br"></div>
        <div id="table">
            <div id="table-header">
                <div class="table-header-cell">Course Component</div>
                <div class="table-header-cell">Mark</div>
                <div class="table-header-cell">Request a remark and explanation</div>
            </div>
            
            {% for user in user %}
            <div id="table-body"></div>
                <div class="table-row">
                        <div class="table-body-cell">{{ user[1]}}</div>
                        <div class="table-body-cell">{{ user[2]}}</div>
                        <div class="table-body-cell">
                            <form action="studentremark" method = "post">
                                <input type="remark" name="remark" placeholder="Please provide explanation" required="">
				                <button class = "general-button">Submit</button>
                            </form>
                            
                        </div>
                </div>
            {% endfor %}

                
                
            </div>
            {% endif %}

            {% if session.type == "instructor" %}
            <div class = "log-bar no-top-margin">
				<a class = "log-navbutton" href="{{ url_for('entermarks') }}">Enter Marks</a>
                <a class = "log-navbutton" href="{{ url_for('viewmarks') }}">View Marks</a>
                <a class = "log-navbutton" href="{{ url_for('remark') }}">View Remark Requests</a>        
			</div>
            
            {% endif %}
        </div>
    </div>
    
{% endblock %}
