{% extends "loginsuccess_temp.html" %}
{% block content %}		
        <div class = "content-wrapper">
            <p class="huge-title">CSCB20\\Winter_2022\\Resources<span class = "underline-animation">_</span></p>

		    <div class="linebr"></div>
            <div class="space-br"></div>

            <p class="big-title">\\Important_Links</p>
            <p>These are the two most imporant platforms for this course! You will be submitting work through MarkUs, and asking questions on Piazza:</p>
            <div class = "log-bar no-top-margin">
				<a class = "log-navbutton" target = "_blank" href="https://markus.utsc.utoronto.ca/cscb20w22/assignments">MarkUs</a>
				<a class = "log-navbutton" target = "_blank" href="https://piazza.com/utoronto.ca/winter2022/cscb20h3">Piazza</a>   
			</div>


            <p class="big-title">\\Midterm</p>
            <p>There will be one midterm. The midterm will be 75min in length. You should go to either HW215 or HW216 depending on your last name as shown here.</p>
            <img class="text-img" src="{{ url_for('static', filename = 'images/B20_rooms.jpeg')}}" alt="Midterm Room Allocation">
            <p>Preparing for the midterm:</p>
            <ul>
                <li>Understand all parts of A1.</li>
                <li>The midterm will cover everything on databases that we did from the start until part way through the week 6 lecture.</li>
            </ul>
            <p>Once you have done some preparation, you can practice on a previous midterm: <a class = "text-link" href="{{ url_for('static', filename = 'tests/termtest.pdf')}}" target="_blank">Term Test</a></p>

            <p class="big-title">\\Online_Resources</p>
            <ul>
                <li><a class = "text-link" href="{{ url_for('signuphome') }}" target="_blank">Course Website</a></li>
                <p>Course information, lecture notes, tutorial material, important announcements, etc. will be posted on the course website. It is your responsibility to visit it frequently.</p>
                <li>Beginner Tutorial for <a class = "text-link" href="https://code.tutsplus.com/articles/sql-for-beginners--net-8200" target="_blank">MySQL</a></li>
                <li>Email Communication</li>
                <p>Questions regarding the course material, assignments, midterm, etc. should be posed on the Piazza board. Questions about the assignment which you feel you cannot formulate without revealing your solution (should be very rare!), as well as questions and concerns regarding your personal matters should be directed to the instructor.</p>
                <li><a class = "text-link" href="https://piazza.com/utoronto.ca/winter2022/cscb20h3" target="_blank">Discussion Board</a></li>
                <p>You are encouraged to use the Piazza board to discuss the course material, pose questions on the assignments, etc. The Piazza board will be monitored by the instructor and by your TAs. Please, be very careful not to reveal (parts of) your solution on the Piazza board.</p>
                <li><a class = "text-link" href="https://markus.utsc.utoronto.ca/cscb20w22" target="_blank">MarkUs</a></li>
                <p>You will be using the MarkUs platform to form groups, as well as submit assignments for this course. You can sign in to MarkUs using your uoft credentials.</p>
            </ul>
            <p class="big-title">\\Software_and_Documentation</p>
            <ul>
                <li>Logging into MathLab</li>
                <ol>
                    <li>Mac OS comes with the application "terminal". Simple click on it to run. Login to mathlab by typing</li>
                    <p>ssh utorid@mathlab.utsc.utoronto.ca. Enter your password.</p>
                    <li>Windows - you will need a SSH client. PuTTY is a good free one. You can download and install here: <a class = "text-link" href="https://www.putty.org/">PuTTY</a>. Use the same command as above to login to mathlab:</li>
                    <p>ssh utorid@mathlab.utsc.utoronto.ca.</p>
                </ol>
            </ul>
        </div>
        {% endblock %}