{% extends "loginsuccess_temp.html" %}
{% block content %}
    <div class = "content-wrapper">
		<p class="huge-title">CSCB20\\Winter_2022\\Syllabus<span class = "underline-animation">_</span></p>
		<div class="linebr"></div>
        <div class ="space-br"></div>
        <p>Please see: <a class = "text-link" href="{{ url_for('static', filename = 'Syllabus.pdf')}}" target="_blank">Syllabus PDF</a></p>
		<p>If you have any questions about course content, feel free to to post on Piazza or come to office hours!</p>

       
    </div>

	{% endblock %}